*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(197, 197, 197);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

h3 {
  color: rgb(214, 169, 111);
}

a {
  text-decoration: none;
  color: black;
}

li,
ul {
  list-style-type: none;
}

/*NAVIGATION*/
.nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 5px 5px 8px 5px #888888;
}

.list-item {
  position: relative;
  padding: 10px 20px;
}

.link {
  font-size: 20px;
}

.sub-nav-list {
  position: absolute;
  display: block;
  background-color: white;
}

.sub-nav-list-item {
  display: none;
}

.list-item:hover .sub-nav-list-item {
  background-color: #bebebe;
  display: block;
  padding: 10px 20px;
}

/* Tuthors*/
.sub-nav-tutorials {
  position: absolute;
  left: 100%;
  display: block;
  background-color: white;
  padding-left: 1px;
  top: 115px;
}
.sub-nav-list-tutorials {
  display: none;
}
.tutor:hover .sub-nav-list-tutorials {
  background-color: #bebebe;
  display: block;
  padding: 10px 20px;
}
/* Others*/

.sub-nav-other {
  position: absolute;
  left: 100%;
  display: block;
  background-color: white;
  padding-left: 1px;
  top: 115px;
}
.sub-nav-list-other {
  display: none;
}
.other:hover .sub-nav-list-other {
  background-color: #bebebe;
  width: 150px;
  display: block;
  padding: 10px 20px;
}

/* HOVER*/

.list-item:hover {
  background-color: rgb(165, 165, 172);
  transition: 0.5s;
}
.list-item:first-child {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.list-item:last-child {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

/* END NAVIGATION*/

.header-me {
  padding: 20px 20px;
  display: flex;
  margin-top: 50px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 10px 10px 8px 10px #888888;
}

.header-me__photo {
  display: flex;
  margin-right: 100px;
  flex-direction: column;
}

.my-foto {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10%;
}

.header-me__about {
  display: flex;
  flex-direction: column;
}

.name {
  color: blue;
}

.header-me__about__information {
  display: flex;
  margin-top: 20px;
  font-size: 25px;
  text-align: justify;
  margin-bottom: 35px;
}

.header-me__about_another {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.gray {
  color: gray;
}

.first-contact {
  display: flex;
  gap: 5px 0px;
  flex-direction: column;
}

.second-contact {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}

.downald {
  height: 60px;
  border-radius: 15px;
  border-color: gray;
  font-size: 25px;
}

.downald:hover {
  border-color: red;
  background-color: red;
  transition: 1.5s;
}

.skill {
  display: block;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 10px #888888;
  margin: 50px 0;
}

.my-skills {
  display: flex;
  justify-content: space-between;
}

.professional-skills,
.additional-skills {
  padding: 20px 20px;
  width: 400px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  font-size: 20px;
  box-shadow: 10px 10px 8px 10px #888888;
}

.addition-skills-list{
  padding-bottom: 20px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  align-items: center;
}
